<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TestingCup</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>{{ message }}</h1>
            <form action="javascript:javascript:history.go(-1)">
                <button type="submit">Go back</button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>